.ready{
  padding: 76px 0;
  background-color: #F67E7E;
  background-image: url(../../images/ready-bg.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: calc(50% - 620px) calc(50% + 85px);
}
.ready__inner{
  width: 100%;
  max-width: 917px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.ready__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
}
.ready__link {
  display: block;
  width: 100%;
  max-width: 153px;
  text-decoration: none;
  border: 2px solid #012F34;
  border-radius: 24px;
  padding: 10px 27px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
}

@media only screen and (max-width:1300px){
  .ready{
    background-position: bottom left;
  }
}
@media only screen and (max-width:768px){
  .ready{
    background-position: calc(50% - 280px) calc(50% + 102px);
  }
  .ready__inner{
    max-width: 573px;
    margin: 0 auto;
  }
  .ready__title{
    font-size: 32px;
    line-height: 32px;
  }
}
@media only screen and (max-width:568px){
  .ready{
    padding: 83px 0;
    background-position: calc(50% - 185px) calc(50% + 155px);
  }
  .ready__inner{
    max-width: 327px;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
  .ready__title{
    margin-bottom: 24px;
  }
}
@media only screen and (max-width:375px){
  .ready{
    background-position: calc(50% - 90px) calc(50% + 135px);
  }
}