.footer {
  padding: 48px 0;
  background-color: #002529;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  width: 100%;
  max-width: 445px;
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
}
.sub-div{
  flex-direction: column;
}
.left__link {
  display: block;
  text-decoration: none;
  margin-bottom: 25px;
}
.left__img {
  width: 160px;
  height: 40px;

}
.left__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
//  flex-direction: column;
}
.left__item + .left__item {
  margin-left: 40px;
  // display: flex;
  // flex-direction: column;
}
.left__sub-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}
.left__text {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.right {
  width: 100%;
  max-width: 255px;
}
.right__list {
  margin-left: auto;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 53px;
}
.right__item +.right__item{
  margin-left: 16px;
}
.right__link {
  display: block;
}
.right__img {
  width: 24px;
  height: 24px;
}
.right__text {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  text-align: right;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}